gradio~=5.30.0
requests~=2.32.3
pandas~=2.2.3
pytest~=8.3.5
python-dotenv~=1.1.0
langchain-core~=0.3.60
langgraph~=0.4.5
duckduckgo-search==6.3.5
langchain-community~=0.3.24
langchain~=0.3.25
duckduckgo_search~=6.3.5
langchain-google-genai~=2.1.4
duckduckgo_search~=6.3.5
qdrant-client~=1.14.2
duckduckgo_search~=6.3.5
pillow~=11.2.1
duckduckgo_search~=6.3.5
duckduckgo_search~=6.3.5
pytesseract~=0.3.13
matplotlib~=3.10.3